body{
    background-image: url('http://pixelartmaker.com/art/becdd8955dc57eb.png');
}

#quote {
    width: auto;
    height: 65px;
    grid-area: quoteDiv;
    background-color: beige;
    text-align: center;
}

#qOfTday {
    /*margin-left: 100px;
    margin-right: 100px;*/
    display: inline-block;

    margin-top: 17px;
    margin-bottom: 17px;
    font-style: italic;
    font-size: 22px;
    text-align: center;
    background-color: white;
}

#weatherDiv {
    background-color: white;
    grid-area: weatherDiv;
    height: 45px;
    border: solid 2px black;
    padding: 2px 5px 2px 5px;
    margin-bottom: 25px;
    margin-right: auto;

}

p {
    display: inline;
}

#iconImg {
    size: 50px;
}

.pClass{
    margin-bottom: 50px;
}

#pDiv {
    float:left;
    margin-top: 15px;

}

#clockDiv {
    background-color: white;
    grid-area: clockDiv;
    height: 45px;
    border: solid 2px black;
    padding: 8px 5px 2px 5px;
    margin-bottom: 20px;
    margin-left: auto;
    text-align: left;

}

.grid {
    display: grid;
    grid-column-gap: auto;
    grid-template-areas:
    'weatherDiv quoteDiv clockDiv';
}

.grid2 {
    display: grid;
    grid-column-gap: auto;
    grid-template-areas:
    'outerDiv factDiv urbanDiv'
    'outerDiv postDiv urbanDiv'
}

#hplats {
    margin-top: 30px;
    margin-left: 30px;
    border: solid 2px black;
    padding-bottom: 10px;
    padding-top: 8px;
    margin-right: 200px;
    background-color: #ffffff;
}

#station {
    margin-left: 7px;
    margin-top: 5px;
}

#slknapp {
    margin-left: 10px;
}

#question {
    color: black;
    margin-left: 15px;
    margin-bottom: 8px;
    margin-top: 15px;
}

#mainDiv {
    border: solid 2px black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
    background-color: white;
    min-height: 500px;
    height: auto;

}

#fact {
    margin-top: 5px;
    grid-area: factDiv;
    width: 550px;
    height: 300px;
    margin-left: 78px;
}

#factmini {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 5px;
    border: solid 2px black;

    padding: 15px 5px 15px 20px;
    min-height: 20px;
    background-color: white;
}

#factButton{
    margin-right: 38%;
    margin-left: 38%;
    margin-top: 30px;
}

#outer {
    margin-top: 5px;
    grid-area: outerDiv;
    width:550px;
    border: solid 2px black;
    background-color: white;
    background-image: url("https://sl.se/Resources/img/sl_logo_fb.png");
}

#urbanOuter {
    grid-area: urbanDiv;
    margin-left: auto;
    background-color: #1B2338;
    width: 500px;
}

#urbanForm {
    margin-left: 20px;
    margin-top: 8px;
}

#urbanknapp {
    margin-left: 10px;
}

#urbanMain {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 20px;
    background-color: #000000;
    color: #F2F927;
}

#urbanBild{
    margin-left: 20px;
    margin-top: 5%;
    width: 200px;
    height: 50px;
}

#postOuter {
    margin-left: 80px;
    grid-area: postDiv;
    width: 545px;
    border: solid 2px black;
    background-color: white;
    text-align: center;
}

#postForm {
    margin-left: 30px;
    margin-top: 50px;
}

#userName {
    margin-bottom: 5px;
}

#userMail {
    margin-bottom: 10px;
}

#postButton {
    margin-left: 20px;
}

#maleDiv {
    border: solid 2px black;
    margin-right: 5px;
    padding: 2px 2px 2px 2px;
}

#femaleDiv {
    border: solid 2px black;
    padding: 2px 2px 2px 2px;
}

#otherDiv {
    border: solid 2px black;
    margin-left: 5px;
    padding: 2px 2px 2px 2px;
}

#Female {
    margin-top: auto;
}
